- item_url = "https://docs.google.com/spreadsheets/d/1XAW59gUp-tkFlQluLMz1EsYKcdiGlJ-BfrzhJFJIcsw/edit?usp=sharing"

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Redirecting…
    %link{:href => "\#{item_url}", :rel => "canonical"}/
    %meta{:content => "0; url=\#{item_url}", "http-equiv" => "refresh"}/
  %body
    %h1 Redirecting…
    %a{:href => "\#{item_url}"} Click here if you are not redirected.
    :javascript
      location="#{item_url}"

